# Dependencies
node_modules/

# Build
dist/
.parcel-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# node.js
#
npm-debug.log
yarn-error.log

# react-native-web
index.d.ts
index.js
app.web.js
.cache
index.web.js
